@model CareerCatalyst.Models.UserLoginMV
@{
    ViewBag.Title = "Login";
}

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="job-category-listing mb-50">
                <div class="col-md-12">
                    <h2 class="contact-title" align="center">Login</h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                @using (Html.BeginForm("Login", "User", FormMethod.Post,
                    new
                    {
                        @class = "form-contact",
                        @novalidate = "novalidate"
                    }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserName, new
                                  {
                                      htmlAttributes = new
                                      {
                                          @class = "form-control valid",
                                          @type = "text",
                                          @name = "name",
                                          @id = "name",
                                          @placeholder = "Enter User Name",
                                          @onfocus = "this.placeholder = ''",
                                          @onblur = "this.placeholder = 'Enter Use Name'",
                                          @required = "true"
                                      }
                                  })
                                @Html.ValidationMessageFor(model => model.UserName, "",
                                     new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Password, new
                                  {
                                      htmlAttributes = new
                                      {
                                          @class = "form-control valid",
                                          @type = "password",
                                          @name = "password",
                                          @id = "password",
                                          @placeholder = "Enter password",
                                          @onfocus = "this.placeholder = ''",
                                          @onblur = "this.placeholder = 'Enter password'",
                                          @required = "true"
                                      }
                                  })
                                @Html.ValidationMessageFor(model => model.Password, "",
                                     new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Login" class="button boxed-btn">
                        <a href="#" style="float:right; padding:20px 0px 0px 0px;" class="btn-link">Forgot Password?</a>
                    </div>

                }
            </div>
            <div class="col-md-6" style="padding:60px 0px 0px 60px;">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Buttonwood, California.</h3>
                        <p>Rosemead, CA 91770</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+1 253 565 2365</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>support@colorlib.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
